.User {
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
}

.profile {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile div {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    width: 550px;
    padding: 10px 0 10px;
}

.profile img {
    border-radius: 50%;
}

.google {
    background-color: lightgray;
    padding: 10px 10px 10px;
    margin-bottom: 20px;
}

.jwt {
    background-color: lightgray;
    padding: 10px 10px 10px;
}